@{
    ViewBag.Title = "Activity";
}
<script src="@Url.Content("~/Scripts/subtleOstrich/activity.js")"></script>
<div class="row">
    <div class="span8 offset4" ng-controller="ActivityControl">
        <form ng-submit="save()">
            <div>Today I did
                <input type="hidden" ng-model="date"/>
                <input type="text" ng-model="name" required />
                <input class="btn-primary" type="submit" value="add">
            </div>
        </form>

        <ul class="unstyled">
            <li class="well" ng-repeat="act in activity">
                <h2>{{act.Name}}</h2>
                {{act.Note}}
            </li>
        </ul>
    </div>
</div>


