@model IEnumerable<SubtleOstrich.Logic.Occurrence>

@{
    ViewBag.Title = "Activity";
}

<div class="row">
    <div class="well">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<h2>Activity</h2>


