@{
    ViewBag.Title = "Activity";
}
<script src="@Url.Content("~/Scripts/subtleOstrich/activity.js")"></script>
<div class="sidebar pull-left" ng-controller="MonthDashboardController">
    <div class="aqua-panel">
        <div class="aqua-panel-header">
            <h2>{{dashboard.Title}} ({{dashboard.Total}})</h2>
        </div>
        <div class="aqua-panel-content">
            <div class="info-panel clearfix">
                    <div class="span1" ng-repeat="d in dashboard.Activities">
                    <a href="#" class="aqua-shortcut text-align-center">
                        <span class="modernpics newline">{{d.Value}}</span>
                        <span class="label ">{{d.Name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="span3 pull-left" ng-controller="ActivityControl">
        <form ng-submit="save()">
            <div>
                Today I did
                <input type="hidden" ng-model="date" />
                <input type="text" ng-model="name" required />
                <input class="btn-primary" type="submit" value="add">
       </div>
        </form>

        <ul class="unstyled">
            <li class="well" ng-repeat="act in activity">
                <form ng-submit="delete()">
                    <h2>{{act.Name}}</h2>
                    {{act.Note}}
                    <span class="pull-right"><a href="#" ng-click="delete( act.Id )"><i class="icon-trash-blue"></i></a></span>
                </form>
            </li>
        </ul>
    </div>


<div class="sidebar pull-right" ng-controller="YearDashboardController">
    <div class="aqua-panel">
        <div class="aqua-panel-header">
            <h2>{{dashboard.Title}} ({{dashboard.Total}})</h2>
        </div>
        <div class="aqua-panel-content">
            <div class="info-panel clearfix">
                    <div class="span1" ng-repeat="d in dashboard.Activities">
                    <a href="#" class="aqua-shortcut text-align-center">
                        <span class="modernpics newline">{{d.Value}}</span>
                        <span class="label ">{{d.Name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


