@{
    Layout = null;
}

<form name="create">
    <input type="text" name="name" ng-model="name" required/>
    <button ng-click="save()" ng-disabled="isClean() || create.$invalid"
          class="btn btn-primary">Save</button>
</form>
