@{
    Layout = null;
}

<div class="span8 offset4" ng-controller="ActivityControl">
    <ul class="unstyled">
        <li class="well" ng-repeat="act in activity">
            <span>{{act.Name}} - {{act.Note}}</span>
        </li>
    </ul>
    <a href="#/new"><i class="icon-plus-sign"></i></a>
</div>
