/* Main marketing message and sign up button */
      .jumbotron {
        margin: 50px 0;
        text-align: center;

        h1{
            font-size: 100px;
            line-height: 1;
        }

        &.lead{
            font-size:24px;
            line-height: 1.25;
        }

        &.btn{
            font-size: 21px;
            padding: 14px 24px;
        }
      }
     
      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;

        hr{
            margin: 60px 0;
        }
      }
     
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

body {
    h1{
        &.site-title{
            text-align: center;
            font-size: x-large;
        }
    }
}

    .sidebar{
        width: 155px;
        margin-top: -40px;
    }

    div#content{
        min-height: 460px;
    }

    div.aqua-panel-header{
        h2{
            text-align: center;
        }
    }

    div#footer{clear:both;}

    div#activity{
        margin-left: 50px; 
        margin-right: 50px;
        input#activityType{
            width: 537px;
            } 
    }

    span.stat-value{font-size: 64px;
      display:block;
  margin-top:2px;
  line-height:50px;}

  span.date{font-size: 48px; text-align: center;}

  input#dateEdit{font-size:48px; text-aling: center;}
 
  span#previousDate{
  margin-left:150px;
  cursor: pointer;
  }

  span#nextDate{
  cursor: pointer;
  }

  a#login{
    margin-top: 17px;
    }