<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <!--<configSections>
        <section name="authenticationProviders" type="WorldDomination.Web.Authentication.Config.ProviderConfiguration, WorldDomination.Web.Authentication"/>
    </configSections>
    <authenticationProviders>
        <providers>
            <add name="Facebook" key="475507455835716" secret="41332f161fb3606a89aa0b6723081acd"/>
            <add name="Twitter" key="h2idSiyDqNotvzHvDhuIDg" secret="xZXDvrY4162T2M3FJT4WgTPM4SFE3pWXXLjb8D1J4E"/>
        </providers>
    </authenticationProviders>-->
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <httpHandlers>
            <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="4.0"/>
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
        </handlers>
    </system.webServer>
    <connectionStrings configSource="connection.config"/>
</configuration>