@model IEnumerable<Occurrence>
@{
    ViewBag.Title = "User Activities";
}


@using (Html.BeginForm("Activities", "User", FormMethod.Post))
{
    <ul class="unstyled">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <li class="well">
                <h2>@Model.ElementAt(i).Name</h2>
                <input type="hidden" name="[@i].Name" value="@Model.ElementAt(i).Name"/>
                <input type="text" name="[@i].Hours" value="@Model.ElementAt(i).Hours"/>
            </li>

        }
    </ul>
    
    <button class="btn" type="submit">Save</button>
}