@using SubtleOstrich.Web.Controllers
@{
    ViewBag.Title = "Activity";
}
<script src="@Url.Content("~/Scripts/subtleOstrich/activity.js")"></script>
<div class="sidebar pull-left" ng-controller="MonthDashboardController">
    <div class="aqua-panel">
        <div class="aqua-panel-header">
            <h2>{{dashboard.Title}} ({{dashboard.Total}})</h2>
        </div>
        <div class="aqua-panel-content">
            <div class="info-panel clearfix">
                <div class="span1" ng-repeat="d in dashboard.Activities" ng-show="dashboard.Activities.length">
                    <a href="@Url.Action("Calendar", "Activity")" class="aqua-shortcut text-align-center">
                        <span class="stat-value newline">{{d.Value}}</span>
                        <span class="label ">{{d.Name}}</span>
                    </a>
                </div>
            </div>
            <div ng-hide="dashboard.Activities.length">
                <span>This will show your top 4 activities for the month. Enter an activity (e.g. drilling) and it will show up.</span>
            </div>
        </div>
    </div>
</div>

<div id="activity" class="span4 pull-left" ng-controller="ActivityControl">
    <form ng-submit="save()">
        <div id="date">
            <span id="previousDate" class="modernpics icons48 icons-black" ng-click="decreaseDate()"><</span>
            <span class="date">{{date.toLocaleDateString()}}</span>
            <span id="nextDate" class="modernpics icons48 icons-black" ng-click="increaseDate()" ng-show="showNextArrow">></span>
            <input type="hidden" ng-model="date" />
            <input id="activityType" type="text" ng-model="name" placeholder="What did you do today?" data-min-length="0" bs-typeahead="typeaheadFn" required />
        </div>
    </form>

    <ul class="unstyled">
        <li class="well" ng-repeat="act in activity">
            <form ng-submit="delete()">
                <h2>{{act.Name}}</h2>
                <h4 class="subtitle">{{act.Hours}} hours</h4>
                {{act.Note}}
                    <span class="pull-right"><a href="#" ng-click="delete( act.Id )"><i class="icon-trash"></i></a></span>
            </form>
        </li>
    </ul>
</div>


<div class="sidebar pull-right" ng-controller="YearDashboardController">
    <div class="aqua-panel">
        <div class="aqua-panel-header">
            <h2>{{dashboard.Title}} ({{dashboard.Total}})</h2>
        </div>
        <div class="aqua-panel-content">
            <div class="info-panel clearfix">

                <div class="span1" ng-repeat="d in dashboard.Activities" ng-show="dashboard.Activities.length">
                    @{
                        var user = (User as CouchPrincipal);
                    }
                    <a href="@Url.Action("Report", "Activity", new {uid = user.Uid, source = user.Source})" class="aqua-shortcut text-align-center">
                        <span class="stat-value newline">{{d.Value}}</span>
                        <span class="label ">{{d.Name}}</span>
                    </a>
                </div>
                <div ng-hide="dashboard.Activities.length">
                    <span>This will show your top 4 activities for the year. Enter an activity (e.g. drilling) and it will show up.</span>
                </div>
            </div>
        </div>
    </div>
</div>


