@{
    ViewBag.Title = "Tracker";
}

<div class="container">
    <div class="jumbotron">
        <h1>Mat Time</h1>

        <p class="lead">
            How many hours have you put in this month? This year? Quit wondering and start tracking. Mat Time will let you enter your mat time how you want.
            Every time you go to class, enter what type of class it was (e.g. technique, sparring, competition, conditioning) and Mat Time will tell you how many times
            you've been to that class this month and this year.
        </p>
        
        <h2>Sign In. Track. Get Better.</h2>
       
        <a href="/authentication/redirect/facebook" id="login" class="btn">Sign in with <i class="icon-facebook-sign"></i></a>
        
        <p>Don't worry, we don't watch your Facebook activity, nor do we post on your wall. </p>
    </div>

</div>


