@{
    ViewBag.Title = "MonthlyCalendar";
}

<div id='calendar'></div>

<script type="text/javascript">
    (function($) {
        $('#calendar').fullCalendar({ });
    })(jQuery);
</script>