@model SubtleOstrich.Logic.User

@{
    ViewBag.Title = "Report";
}
<script src="@Url.Content("~/Scripts/subtleOstrich/activity.js")"></script>

<div id="year-chart" class="pull-left"></div>
<div id="month-chart" class="pull-left"></div>

<input id="user" type="hidden" value="@Model.Id"/>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    (function($) {
    
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
       
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Class Type');
        data.addColumn('number', 'Occurrences');
        var source = window.location.search.substring(1).split('&')[1].substring(7);
        var uid = window.location.search.substring(1).split('&')[0].substring(4);
        
        $.ajax('/Activity/YearReport?source=' + source + '&uid=' + uid).done(function (events) {
            for (var i = 0; i < events.Activities.length; i++) {
                data.addRow([events.Activities[i].Name + "(" + events.Activities[i].Value + ")", events.Activities[i].Value]);
            }
            // Set chart options
            var options = {
                'title': 'BJJ Activities This Year',
                'width': 800,
                'height': 600,
                'pieSliceText': 'label value',
                'backgroundColor': { fill: 'transparent' },
                'tooltip.text':'both'
            };


            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('year-chart'));
            chart.draw(data, options);
        });
        
        var monthData = new google.visualization.DataTable();
        monthData.addColumn('string', 'Class Type');
        monthData.addColumn('number', 'Occurrences');
        $.ajax('/Activity/MonthReport?source=' + source + '&uid=' + uid).done(function (events) {
            for (var i = 0; i < events.Activities.length; i++) {
                monthData.addRow([events.Activities[i].Name + "(" + events.Activities[i].Value + ")", events.Activities[i].Value]);
            }
            // Set chart options
            var options = {
                'title': 'BJJ Activities This Month',
                'width': 800,
                'height': 600,
                'pieSliceText': 'label value',
                'backgroundColor': { fill: 'transparent' },
                'tooltip.text': 'both'
            };


            // Instantiate and draw our chart, passing in some options.
            var monthChart = new google.visualization.PieChart(document.getElementById('month-chart'));
            monthChart.draw(monthData, options);
        });
    }
    })(jQuery);

</script>
